%unstyled-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.block-list {
	@extend %unstyled-list;
}

/* Libsass still compiles this faulty:
*  see https://github.com/sass/libsass/issues/185
*
@media only screen and (max-width : 100px) {
    .outer { width: 10px; }
    @media only screen and (max-width : 200px) {
        .inner { width: 20px; }
    }
}
*/

/* BEM test case */
.block {
	display: block;
	&__element {
		color: green;
	}
	&--modifier {
		display: inline-block;
	}
}
.test {
	position: relative;
}

/* @at-root ==  Sass 3.3 */
// .badge {
//   @at-root header {
//     display: table;
//   }
// }


/* SassScript maps == Sass 3.3 */
// @each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
//   #{$header} {
//     font-size: $size;
//   }
// }
